/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background: linear-gradient(135deg, #cecdc9, #3d3b2e , #a89944);
    background-size: 400% 400%;
    background-attachment: fixed;
    color: #050505;
    font-family: 'Arial', sans-serif;
    
}
