/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(135deg, #FFD700, #3d3b2e , #a89944);
    background-size: 400% 400%;
    background-attachment: fixed;
    color: #333;
    font-family: 'Arial', sans-serif;
    
}