/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(135deg, #a1dfc0, #9ce398);
    background-attachment: fixed;
    color: #333;
    font-family: 'Arial', sans-serif;
}